[project]
	description = Acts as a proxy to Sonatype Nexus repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vmariappan
[access "refs/for/refs/*"]
	read = group user/vmariappan
	push = group user/vmariappan
	label-Code-Review = -2..+2 group user/vmariappan
	label-Verified = -1..+1 group user/vmariappan
	rebase = group user/vmariappan
	removeReviewer = group user/vmariappan
	submit = group user/vmariappan
[access "refs/heads/*"]
	read = group user/vmariappan
	create = group user/vmariappan
	push = +force group user/vmariappan
	pushMerge = group user/vmariappan
[access "refs/tags/*"]
	push = +force group user/vmariappan
	pushTag = group user/vmariappan
	pushSignedTag = group user/vmariappan
